body {
  font-family: $font-family-sans-serif;
  padding-top: 40px;
  background: url(../images/background.png) 0 0 repeat;
}

// url(http://pentonweb.com/sandbox/MarketingOpps/wp-content/themes/marketingopps/images/penton_wht.png)

.text-gray        { color: $gray; }
.text-gray-light  { color: $gray-light; }

// Padding, margin, border, etc.
.clear            { clear: both; }
.clear-left       { clear: left; }
.clear-right      { clear: right; }

.no-margin        { margin: 0; }
.no-padding       { padding: 0; }
.margin-sm        { margin: $gutter-sm !important; }
.padding-sm       { padding: $gutter-sm !important; }
.margin-sm-top    { margin-top: $gutter-sm !important; }
.margin-sm-right  { margin-right: $gutter-sm !important; }
.margin-sm-bottom { margin-bottom: $gutter-sm !important; }
.margin-sm-left   { margin-left: $gutter-sm !important; }
.margin-lg        { margin: $gutter-lg !important; }
.padding-lg       { padding: $gutter-lg !important; }
.padding-lg-top   { padding-top: $gutter-lg !important; }
.padding-lg-right { padding-right: $gutter-lg !important; }
.padding-lg-bottom{ padding-bottom: $gutter-lg !important; }
.padding-lg-left  { padding-lg-left: $gutter-lg !important; }
.margin-lg-top    { margin-top: $gutter-lg !important; }
.margin-lg-right  { margin-right: $gutter-lg !important; }
.margin-lg-bottom { margin-bottom: $gutter-lg !important; }
.margin-lg-left   { margin-left: $gutter-lg !important; }

.border-gray-darker        { border: 1px solid $gray-darker; }
.border-gray-dark          { border: 1px solid $gray-dark; }
.border-gray               { border: 1px solid $gray; }
.border-gray-light         { border: 1px solid $gray-light; }
.border-gray-lighter       { border: 1px solid $gray-light; }
.border-primary            { border: 1px solid $brand-primary; }
.border-success            { border: 1px solid $brand-success; }
.border-info               { border: 1px solid $brand-info; }
.border-warning            { border: 1px solid $brand-warning; }
.border-danger             { border: 1px solid $brand-danger; }
.border-color-gray-darker  { border-color: $gray-darker !important; }
.border-color-gray-dark    { border-color: $gray-dark !important; }
.border-color-gray         { border-color: $gray !important; }
.border-color-gray-light   { border-color: $gray-light !important; }
.border-color-gray-lighter { border-color: $gray-lighter !important; }
.border-color-white        { border-color: #fff !important; }
.border-color-primary      { border-color: $brand-primary !important; }
.border-color-success      { border-color: $brand-success !important; }
.border-color-info         { border-color: $brand-info !important; }
.border-color-warning      { border-color: $brand-warning !important; }
.border-color-danger       { border-color: $brand-danger !important; }
.border-right-none         { border-right-width: 0 !important; }

.width-one-quarter,
.width-one-quarter-sm,
.width-one-half,
.width-one-half-sm,
.width-three-quarters,
.width-three-quarters-sm { height: auto; }
.width-one-quarter       { width: 25%; }
.width-one-half          { width: 50%; }
.width-three-quarters    { width: 75%; }

.clear {
  clear: both;
}

hr {
  border-color: $gray-dark;
}

@media (min-width: $screen-sm-min) {
  .width-one-quarter-sm    { width: 25%; }
  .width-one-half-sm       { width: 50%; }
  .width-three-quarters-sm { width: 75%; }
}
