.site-footer {
  overflow: hidden;
  background-color: $gray-dark;
  margin: 30px 0 0;
  padding: 25px 0 15px;
  font-size: 12px;
  color: #fff;
  .Nav-menu {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      float: left;
      margin: 0;
      padding: 0 10px 0 0;
      a {
        color: #fff;
      }
    }
    li:after {
      content: ' | ';
      padding: 0 0 0 10px;
    }
    li:last-child:after {
      content: '';
    }
  }
}
