// #wpadminbar {
//   display: none;
// }
#pes-navbar {
  background: $brand-primary;
  .navbar-brand {
    padding: 11px 15px;
  }
  a {
    color: #fff;
  }
  .site-title {
    float: left;
    padding: 17px 4px 0;
  }
}
.page-header {
  border-bottom-width: 0;
}
